[submodule "vim/pack/plugins/start/vim-ai"]
	path = vim/pack/plugins/start/vim-ai
	url = git@github.com:madox2/vim-ai.git
[submodule "vim/pack/github/start/copilot.vim"]
	path = vim/pack/github/start/copilot.vim
	url = git@github.com:github/copilot.vim.git
